* {
    box-sizing: border-box;
  }
  
  input[type=text], input[type=number], input[type=file] select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;

  }
  
  label {
    padding: 12px 12px 12px 0;
    display: inline-block;
  }
  
  
  .container {
    border-radius: 5px;
    background-color: #FFFFFF;
    padding: 20px;
    /*#f2f2f3*/
  }
  
  .col-25 {
    float: left;
    width: 25%;
    margin-top: 6px;
  }
  
  .col-75 {
    float: left;
    width: 75%;
    margin-top: 6px;
  }
  
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  @media screen and (max-width: 600px) {
    .col-25, .col-75, input[type=submit] {
      width: 100%;
      margin-top: 0;
    }
  }